<div>
  <div class="text-center">
    <div>
      <h6 class="mb-4 display-3">服装記録</h6>
    </div>
    <%= form_with model: @event, local: true do |f| %>
    <div class="mb-4">
      <h4>
        <div>日付け</div>
        <%= f.date_field :date %>
      </h4>
    </div>
    <div class="mb-4">
      <h4>
        <div>服装</div>
        <%= f.file_field :image, id:"item-image" %>
      </h4>
    </div>
    <div class="mb-4">
      <h4>
        <div>出来事</div>
        <%= f.collection_select(:events_select_id, EventsSelect.all, :id, :name, {}, {class:"select-box", id:"events"}) %>
      </h4>
    </div>

    <div class="mb-4">
      <h4>
        <div>会った人</div>
        <%= f.text_area :met_person, class:"met-person-text" %>
      </h4>
    </div>
    <div class="form-check">
      <%= f.label :checkbox, "この服装を公開しますか？" %>
      <%= f.check_box :checkbox, id: "check_box" %>
    </div>
    <div class="record-btn-contents">
        <%= f.submit "記録" ,class:"btn btn-primary"%>
    </div>
    <% end %>
  </div>
</div>

